.app{
  font-family: sans-serif;
  text-align: center;
}
.user-name{
  color: rgb(48, 135, 211);
  font-style: italic;
}
.user-pic{
  height: 250px;
  width: 250px;
  object-fit:cover;
  border-radius: 50%;
}